<div class="modal-header">
    <h3 class="modal-title">Agregar Antecedente</h3>
</div>
<div class="modal-body">
    <form>
        <div class="cont">
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label for="tipo" class="control-label required">Tipo de Antecedente</label>
                        <select class="form-control" ng-model="tipo" id="tipo" required advance-validations>
                            <option value="">Seleccione</option>
                            <option value="QUIRURGICO">QUIRURGICO</option>
                            <option value="TRAUMATICO">TRAUMATICO</option>
                            <option value="ALERGICO">ALERGICO</option>
                            <option value="TOXICO">TOXICO</option>
                            <option value="TRAUMATICOS">TRAUMATICOS</option>

                            <option value="GINECOLOGICO_EMBARAZO">GINECOLOGICO_EMBARAZO</option>
                            <option value="GINECOLOGICO_PARTO">GINECOLOGICO_PARTO</option>
                            <option value="GINECOLOGICO_ABORTO">GINECOLOGICO_ABORTO</option>
                            <option value="GINECOLOGICO_CESAREAS">GINECOLOGICO_CESAREAS</option>
                            <option value="GINECOLOGICO_METODO_PLANIFICACION">GINECOLOGICO_METODO_PLANIFICACION</option>
                            <option value="GINECOLOGICO_MENAREA">GINECOLOGICO_MENAREA</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label class="control-label">Descripción</label>
                        <textarea type="text" class="form-control" ng-model="descripcion" name="descripcion" />
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<div class="modal-footer">
    <button class="btn btn-secondary" type="button" ng-click="close()">Cancelar</button>
    <button class="btn btn-primary" type="button" ng-click="aceptar()">Agregar</button>
</div>
